# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CAKT_othermodels\AKT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
